body, html {
    height: 100vh;
    background-image: url(../img/burger.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
 
    }
h1,h2,h3,h4,p{
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
    font-size: 70px !important;
}
h2{
    font-size: 35px;
}
p{
    font-size: 20px;
    font-style: italic;
    
}
.divBlock{
    
    color:#c6c7c9;
    padding: 0.5rem;
    margin-top: 25px;
}
.divBlock2{
    margin-left: 40px; 
    padding: 0.5rem;
    margin-top: 25px;
}


.form-control{
    background-color:rgb(149, 192, 50);
    border-color:#f5f853;
    outline:0;
    border:3px solid rgb(15, 143, 47);
    opacity: 0.8;
}

.center{
    margin: auto 0;
}
.btn{
    
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.marginL{
    margin-left: 30px;
}
.btn-success{
    opacity: 0.8;
}
.btn-warning{
    opacity: 0.9;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color:#f78e1c;

}

.eaten{
    list-style: italic;
    background: #ff9999;
}